.container {
  padding: var(--small-padding);
}

.tile {
  top: 0;
  background-color: var(--background-color-dark);
  border-radius: var(--border-radius-medium);
  cursor: pointer;
  min-height: 168px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.icon {
  font-size: 3rem;
  margin: 0 var(--medium-padding) 0 0;
}

.title {
  margin: 0;
  font: var(--h4-text);
}
