.contentContainer {
  background-color: var(--background-color-light);
  padding: var(--small-padding);
  border-radius: var(--border-radius-medium);
  box-shadow: 0px 2px 8px 8px var(--shadow-color);
  width: 100%;
  margin: var(--medium-padding) 0 0 0;
}

.tabContainer {
  padding: var(--small-padding) var(--large-padding);
}
