.sideNav {
  width: 300px;
  background-color: var(--primary-color);
  height: 100%;
  overflow: auto;
}

.title {
  margin: var(--small-padding) 0 var(--small-padding) var(--small-padding);
  color: var(--background-color-light);
}
