.cell {
  padding: var(--small-padding) var(--medium-padding);
  overflow: hidden;
  z-index: 1;
  background-color: var(--background-color-light);
  cursor: pointer;
}

.sticky {
  position: sticky;
  left: 0;
  z-index: 2;
}

.pinned:after {
  content: " ";
  height: 100%;
  position: absolute;
  top: 0;
  right: 10px;
  width: 10px;
  box-shadow: 0 0 7px 3px var(--shadow-color);
  clip-path: inset(0px -15px 0px 2px);
}
